@import "tailwindcss";

html{
    scrollbar-gutter: stable;
}

body {
    font-family: "JetBrains Mono", monospace;
    background: #0a0a0a;
}


.container {
    width: 616px;
    max-width: 616px;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .container{
        width: 100%;
        padding: 0 10px;
    }
}

